@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	margin: 0 0;
	font-size: 120%;
}

.main-content {
	padding: 0 0.9%;
	margin: 0 auto;
}

.rel-elem {
	position: relative;
}

.left-absolute {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.right-absolute {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.tbl-elem {
	display: table;
	height: 100%;
}

.tbl-cell-elem {
	display: table-cell;
	vertical-align: middle;
}

.rounded-rect-white, .rounded-rect-blue {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: transparent;
}

.rounded-rect-white {
	color: white;
	border: 1px solid white;
}

.rounded-rect-blue {
	color: #0897cc;
	border: 1px solid #0897cc;
}

.white-text {
	color: white !important;
}

.light-gray {
	background-color: #f3f5f7 !important;
}

.gray-text {
	color: #aeaeae;
}

p.custom-text {
	font-weight: 500;
	font-size: 1.2em;
}

h1.custom-h1 {
	font-weight: lighter;
}

footer {
	text-align: center;
	padding: 5% 0;
}

footer img[title="SpoofCard Logo"] {
	margin-bottom: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

footer div {
	margin-top: 1.5%;
	margin-bottom: 4%;
}

footer div a:nth-child(3) {
	margin-right: 0 !important;
}

#header-wrapper {
	background: #0897cc;
	width: 100%;
	padding-bottom: 15%;
}

#header-content {
	padding: 8% 0;
}

#signup-btn {
	color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #71cc0e;
	border: 1px solid #71cc0e;
}

#disguise-caller h1 {
	font-size: 3em;
	font-weight: lighter;
	margin: 0 0;
}

#disguise-caller p {
	margin-top: 0;
}

#featured-wrapper {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 10%;
}

#featured-wrapper h5 {
	margin-top: 0;
	margin-bottom: 5%;
}

#tiles-bkgnd {
	background: url(../images/tiles-bkgnd.jpg) no-repeat top;
	background-size: contain;
}

#tiles-bkgnd-img {
	width: 100%;
	visibility: hidden;
}

#tiles-content {
	text-align: center;
	color: white;
	width: 100%;
}

#tiles-content a {
	display: block;
}

#tiles-content div.tbl-cell-elem {
	margin-top: 0;
}

#tiles-content div.tbl-cell-elem img+a {
	font-size: 0.8em;
	margin-top: 10px;
	margin-bottom: 25%;
}

#tiles-content div.tbl-cell-elem img:nth-child(n+2) {
	width: 30px;
}

#tiles-content div.tbl-cell-elem a img {
	width: 100px;
}

#testimonials-wrapper {
	text-align: center;
	padding: 20% 0;
}

#testimonials-wrapper h1 {
	font-size: 1.7em;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 10%;
}

#testimonials-wrapper h1+div {
	display: table;
	margin: 0 auto;
}

#testimonials-wrapper h1+div div {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

#testimonials-wrapper h1+div img {
		margin-right: 25px;
}

#testimonials-wrapper h1+div h2 {
	margin-top: 0;
	margin-bottom: 2%;
	font-weight: lighter;
}

#testimonials-wrapper h1+div p {
	margin: 0 0;
}

#dwnld-wrapper {
	text-align: center;
	padding: 8% 0;
}

#dwnld-wrapper h1 {
	margin-top: 0;
}

#dwnld-wrapper img:nth-child(4) {
	display: block;
	width: 100%;
	margin: 5% 0;
}

#dwnld-wrapper form input[type="text"] {
	border: 1px solid #a5afbc;
	font-size: 1em;
	color: #a5afbc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}