@charset "utf-8";
/* CSS Document */

.main-content {
	min-width: 320px;
	padding: 0 5%;
}

div.info-content {
	padding: 20% 0;
	text-align: center;
}

a.blue-dwnld-btn, a.dark-dwnld-btn {
	display: block;
	margin: 0 auto;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

a.blue-dwnld-btn {
	background: #0482b0;
}

a.dark-dwnld-btn {
	background: #414953;
}

a.blue-dwnld-btn, a.dark-dwnld-btn, #dwnld-wrapper img:nth-child(4), #dwnld-wrapper form input.rounded-rect-blue {
	max-width: 400px;
}

footer {
	padding: 15% 0;
}

footer img[title="SpoofCard Logo"] {
	width: 60px;
	margin-bottom: 10%;
}

footer>span {
	display: block;
	margin-top: 1.5%;
	margin-bottom: 6%;
}

footer a:nth-child(-n+4) {
	margin-right: 4%;
}

footer div {
	font-size: 0.9em;
	margin-bottom: 11%;
}

footer div span {
	display: block;
	margin-bottom: 3%;
}

footer a:nth-child(n+8):nth-child(-n+9) {
	margin-right: 5%;
}

#mobile-menu {
	cursor: pointer;
	width: 80%;
}

#header-content header {
	text-align: center;
}

#header-content header a {
	text-decoration: none;
	font-size: 2em;
	font-weight: lighter;
}

#header-content header a img {
	vertical-align: middle;
	margin-right: 10px;
}

#nav-menu-mobile ul {
	list-style: none;
}

#nav-menu-mobile ul li a.active, #nav-menu-mobile ul li a:hover {
	background: #0482b0;
}

#nav-menu-mobile.is-active, #main-wrapper.is-active {
	transform: translateX(225px);
}

#nav-menu-mobile.not-active {
	transform: translateX(-225px);
}

#main-wrapper.not-active {
	transform: translateX(0);
}

body.is-active {
	overflow: hidden;
}

#main-wrapper, #nav-menu-mobile {
	transition: transform 0.3s;
}

#nav-menu-mobile {
	position: fixed;
	top: 0;
	left: -225px;
	z-index: 200;
	background: #0897cc;
	width: 225px;
	height: 100%;
	overflow: auto;
}

#nav-menu-mobile ul {
	margin: 0 0;
	padding: 0 0;
}

#nav-menu-mobile ul li a {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	display: block;
}

#mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;
	width: 0;
	height: 0;
	background-color: black;
	opacity: 0;
	transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

#mask.is-active {
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

#mask.not-active {
	width: 0;
	height: 0;
	opacity: 0;
}

#header-content div.right-absolute, #nav-menu, #protect-identity-btn, #demo-call {
	display: none;
}

#disguise-caller {
	text-align: center;
}

#download-app-store {
	margin-top: 10%;
	margin-bottom: 5%;
}

#download-app-store img, #download-play-store img, #dwnld-wrapper a img {
	width: 40%;
}

#featured-wrapper a:nth-child(-n+4) {
	margin-right: 4%;
}

#featured-wrapper span a:nth-child(4) {
	margin-right: 0;
}

#featured-wrapper span {
	display: block;
	margin-top: 8%;
}

#learn-more-btn, #mobile-apps-btn, #see-features-btn {
	display: none;
}

#tiles-bkgnd {
	background-image: url(../images/tiles-mobile-bkgnd.jpg);
	min-width: 400px;
}

#tiles-bkgnd-img {
	content: url(../images/tiles-wrapper-mobile.png);
}

#dwnld-wrapper h1+a {
	margin-bottom: 5%;
}

#dwnld-wrapper img:nth-child(4){
	content: url(../images/or-line-mobile.png);
	margin-left: auto;
	margin-right: auto;
}

#dwnld-wrapper form input[type="text"] {
	text-align: center;
	margin-bottom: 5%;
	width: 92%;
	max-width: 378px;
}

#dwnld-wrapper form input[type="text"], #dwnld-wrapper form input.rounded-rect-blue {
	display: block;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

#dwnld-wrapper form input.rounded-rect-blue {
	width: 100%;
}

@media only screen and (max-device-width: 400px) {
	body {
		font-size: 80%;
	}
	
	.main-content {
		min-width: 260px;
	}
	
	footer a img {
		width: 30px;
	}
	
	#header-content header a img {
		width: 40px;
	}
	
	#featured-wrapper a {
		margin: 0 -1.2%;
	}
	
	#featured-wrapper a:nth-child(-n+4) {
		margin-right: -1.2% !important;
	}
	
	#featured-wrapper img {
		-webkit-transform: scale(0.7);	/* Saf3.1+, Chrome */
    -moz-transform: scale(0.7);			/* FF3.5+ */
    -ms-transform: scale(0.7);			/* IE9 */
    -o-transform: scale(0.7);				/* Opera 10.5+ */
    transform: scale(0.7);
	}
	
	div.info-content img {
		width: 200px;
	}
	
	#tiles-bkgnd {
		min-width: 300px;
	}
	
	#tiles-content div.tbl-cell-elem img:nth-child(n+2) {
		width: 22px;
	}
	
	#tiles-content div.tbl-cell-elem a img {
		width: 69px;
	}
	
	#testimonials-wrapper h1+div img {
		width: 48px;
		margin-right: 10px;
	}
	
	#dwnld-wrapper {
		padding: 12% 0;
	}
}

@media only screen and (min-width: 400px) and (max-width: 445px), only screen and (min-device-width: 400px) and (max-device-width: 445px) {
	#featured-wrapper img {
		-webkit-transform: scale(0.8);	/* Saf3.1+, Chrome */
    -moz-transform: scale(0.8);			/* FF3.5+ */
    -ms-transform: scale(0.8);			/* IE9 */
    -o-transform: scale(0.8);				/* Opera 10.5+ */
    transform: scale(0.8);
	}
	
	#featured-wrapper a:nth-child(-n+4) {
		margin-right: 1% !important;
	}
	
	#dwnld-wrapper form input[type="text"] {
		width: 94%;
	}
}

@media only screen and (min-device-width: 400px) and (max-device-width: 800px),  only screen and (min-width: 400px) and (max-width: 800px) {
	body {
		font-size: 100%;
	}
	
	#header-content header a img {
		width: 60px;
	}
	
	a.blue-dwnld-btn, a.dark-dwnld-btn {
		padding-top: 4%;
		padding-bottom: 3%;
	}
	
	div.info-content img {
		width: 300px;
	}
	
	footer img[title="SpoofCard Logo"] {
		width: 80px;
	}
	
	#tiles-content div.tbl-cell-elem a img {
		width: 80px;
	}
	
	#testimonials-wrapper h1+div img {
		width: 60px;
		margin-right: 20px;
	}
}