@charset "utf-8";
/* CSS Document */

body {
	max-width: 1400px;
	margin: 0 auto;
}

.main-content {
	max-width: 1000px;
}

h1.custom-h1 {
	font-size: 3rem;
	font-weight: lighter;
}

div.info-content {
	padding: 8% 0;
	display: inline-block;
}

div.info-content img {
	width: 275px;
}

div.info-content .right-content {
	float: right;
	display: inline-block;
}

div.info-content .left-content {
	float: left;
	display: inline-block;
}

div.info-content .text-content {
	width: 60%;
}

div.info-content .text-content h1 {
	margin-bottom: 30px;
	margin-top: 0;
}

div.info-content .text-content button {
	padding: 10px 30px;
}

a.dark-dwnld-btn {
	display: inline-block;
	background: #414953;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 7px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

a.dark-dwnld-btn img {
	width: 200px;
}

footer img[title="SpoofCard Logo"] {
	display: block;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

footer a:nth-child(-n+5), footer div span {
	margin-right: 2%;
}

footer span a:nth-child(5) {
	margin-right: 0;
}

#header-content div.left-absolute, #nav-menu-mobile, #mask {
	display: none;
}

#header-content header, #nav-menu, #nav-menu ul {
	display: inline-block;
}

#nav-menu ul {
	list-style: none;
}

#nav-menu ul li a.active, #nav-menu ul li a:hover {
	background: #0482b0;
}

#nav-menu ul li {
	float: left;
	margin-right: 3px;
}

#nav-menu ul li a {
	font-size: .8rem;
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#header-content header {
	float: left;
	width: auto;
}

#header-content header a {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: lighter;
}

#header-content header a img {
	vertical-align: middle;
	width: 60px;
	margin-right: 5px;
}

#nav-menu {
	width: 557px;
}

#nav-menu ul {
	margin: 19px 0;
	padding-left: 3%;
}

#header-content div.right-absolute button {
	width: 70px;
	padding: 8px 0;
}

#intro-content, #disguise-caller, #demo-call {
	display: inline-block;
}

#disguise-caller {
	float: left;
	width: 45%;
}

#protect-identity-btn, #demo-call button {
	font-size: 0.9em;
	font-weight: 500;
	padding: 10px 30px;
}

#download-app, #download-app-store, #download-play-store {
	display: none;
}

#demo-call {
	float: right;
	width: 35%;
	padding: 10px 10px;
}

#demo-call div {
	text-align: center;
	margin-top: 30px;
}

#demo-call button {
	width: 100%;
	margin-top: 5px;
}

#demo-call div h5 {
	font-weight: lighter;
	margin-bottom: 15px;
}

#demo-call div p {
	margin: 5px 0;
}

#demo-call div a {
	display: inline-block;
	margin-right: 10px;
}

#demo-call div.bottom-border {
	border-bottom: 1px solid white;
	margin-top: 20px;
	position: relative;
}

#demo-call div.bottom-border img {
	position: absolute;
	top: 0;
	left: 0;
}

#demo-call div.bottom-border h5 {
	display: inline;
	margin-bottom: 0;
}

#demo-call div.bottom-border p {
	margin: 5px 0;
}

#featured-wrapper a:nth-child(-n+8) {
	margin-right: 4%;
}

#tiles-content p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#tiles-content div.tbl-cell-elem img+a {
	margin-bottom: 5%;
}

#testimonials-wrapper {
	padding: 10%;
}

#testimonials-wrapper h1 {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#dwnld-wrapper div.main-content div {
	width: 70%;
	margin: 0 auto;
}

#dwnld-wrapper h1+a {
	margin-right: 3%;
}

#dwnld-wrapper form input[type="text"] {
	padding: 10px 20px;
	width: 70%;
	margin-right: 1.5%;
}

#dwnld-wrapper form input.rounded-rect-blue {
	padding: 14px 20px;
}